html, body {
    margin: 0;
    padding: 0;
}

:root {
    --search-border: #bbb;
    --search-focus-border: #3a71ca;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.search-bar{
    width: 33%;
    border-color: var(--search-border);
    transition: 0.5s;
}

.search-bar:focus {
    border-color: var(--search-focus-border);
    outline: none;
    width: 100%;
}

.search-bar:focus::placeholder{
    color: transparent;
}

